@import "src/styles/common";

.ingredients {
  padding: $gap-30 0;

  &__title {
    margin: 0 0 $gap-30;
    @include title2;
  }

  &__list {
    margin-bottom: $gap-50;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: $gap-50;

    @media (max-width: 1024px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 478px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__btn {
    display: flex;
    align-items: center;
  }

  &__icon {
    margin-right: 5px;
    width: 25px;
    height: 25px;
  }
}
