@import "src/styles/common";

.categories {
  padding: $gap-30 0;

  &__title {
    margin: 0 0 $gap-30;
    @include title2;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $gap-50;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
}
