@import "src/styles/common";

.recipe {
  height: 100%;
  min-height: 380px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--shadow-secondary);
  border-radius: $border-radius-2x;

  &__image {
    margin-bottom: 15px;
    min-height: 80%;
    width: 100%;
    border-radius: $border-radius-2x;

    & img {
      object-fit: contain;
    }
  }

  &__name {
    margin: 0;
    text-align: center;
  }
}
