@import "src/styles/common";

.descr {
  margin-bottom: 5px;
  @include font(regular, p1, var(--text-primary));

  &__title {
    @include font(semibold, p1, var(--text-primary));
  }

  & a {
    word-wrap: break-word;
    transition: color 0.3s ease-in-out;

    &:focus-visible,
    &:hover,
    &:active {
      color: var(--thirdly);
    }
  }
}
