/// Light theme colors
$light-background: #F6F6F9;
$light-background-dark: #E5E5E5;

$light-text-primary: #212134;
$light-text-secondary: #8E8EA9;

$light-fourthly: #DCDCE4; // white
$light-fifth: #A5A5BA;
$light-sixth: #FFFFFF;

/// Dark theme colors
$dark-background: #32324D;
$dark-background-dark: #666687;

$dark-text-primary: #FFFFFF;
$dark-text-secondary: #C0C0CF;

$dark-fourthly: #4A4A6A; // purple dark
$dark-fifth: #EAEAEF;
$dark-sixth: #32324D;

// common colors
:root {
  --primary: #615793; // purple
  --secondary: #FFB01D; // yellow
  --thirdly: #FF7B2C; // orange
  --white: #FFFFFF;

  --shadow: 0px 0px 1px rgba(12, 26, 75, 0.03), 0px 4px 20px -2px rgba(50, 50, 71, 0.04);
}

// font
$font-weight-map: (
  'regular': 400,
  'semibold': 600,
  'bold': 700,
);

$title1: 60px, 100%;
$title2: 30px, 100%;
$title3: 25px, 100%;
$title4: 20px, 100%;

$text1: 18px, 20px;
$text2: 16px, 16px;

$font-type-map: (
  'h1':$title1,
  'h2':$title2,
  'h3':$title3,
  'h4':$title4,
  'p1':$text1,
  'p2':$text2,
);

// other
$border-radius-1x: 8px;
$border-radius-2x: $border-radius-1x * 2;
$gap-30: 30px;
$gap-50: 50px;
