@import "../common/variables";

html[data-theme='dark'] {
  --background: #{$dark-background};
  --background-dark: #{$dark-background-dark};

  --text-primary: #{$dark-text-primary};
  --text-secondary: #{$dark-text-secondary};

  --fourthly: #{$dark-fourthly};
  --fifth: #{$dark-fifth};
  --sixth: #{$dark-sixth};
}
