@import "../common/variables";

html[data-theme='light'] {
  --background: #{$light-background};
  --background-dark: #{$light-background-dark};

  --text-primary: #{$light-text-primary};
  --text-secondary: #{$light-text-secondary};

  --fourthly: #{$light-fourthly};
  --fifth: #{$light-fifth};
  --sixth: #{$light-sixth};
}
