@import "../common/variables";

html[data-theme='light'] {
  --background: #{$light-background};
  --background-secondary: #{$light-background-secondary};
  --background-gradient: #{$light-background-gradient};

  --primary: #{$light-primary};
  --secondary: #{$light-secondary};
  --secondary-light: #{$light-secondary-light};
  --thirdly: #{$light-thirdly};

  --shadow-primary: #{$light-shadow-primary};
  --shadow-secondary: #{$light-shadow-secondary};
  --shadow-thirdly: #{$light-shadow-thirdly};
}
