@import "src/styles/common";

.logo {
  display: flex;
  justify-content: center;
  align-items: center;

  &_icon {
    height: 80px;
    width: 150px;

    @media (max-width: 768px) {
      height: 55px;
      width: 100px;
    }
  }
}

